---
const { id } = Astro.props;
---

<div
  data-id={id}
  id={"opciones-vista-" + id}
  class="hidden justify-between gap-5 md:hidden w-full pb-2">
  <div>
    <button
      type="button"
      class={`flex md:hidden btn-desplegable-${id} p-2`}
    >
      <img
        src="/arrow_down.svg"
        class="h-[25px] w-[25px]"
        alt="nube"
      />
    </button>
  </div>
  <div class="flex gap-4">
    <button data-id={id} type="button" class={`p-2 ${"cloud-memori-" + id}`}>
      <img
        src="/cloud.svg"
        class="h-[25px] w-[25px]"
        alt="nube"
      />
    </button>
    <button
      type="button"
      data-id={id}
      class={`btn-delete-element-${id} p-2`}
      >
      <img
        src="/xmark_black.svg"
        class="h-[25px] w-[25px]"
        alt="nube"
      />
    </button>
  </div>
</div>
